:> -uśmiechnieta buzia
:< -smutna buzia
:o -zaskoczenie
<!DOCTYPE html>
<html>
<head>
    <style>
        a {
            color: blue;
            font-weight: bold;
        }
    </style>
</head>
p {
  text-align: center;
  color: green;
} 
</style>
</head>

<body>









    <p><a href="/" target="_blank">:> -uśmiechnieta buzia</a></p>

<p>:< -smutna buzia</p>
    <p><a href="/" target="_blank">:o -zaskoczenie</a></p>

<p>;) -mrugniecie</p>
    <p><a href="/" target="_blank">:* -budziak</a></p>

<p>:/ - niezdecydowanie</p>
</body>
</html>
